body, html {
    background-color: #FFF;
    color: #000;
    font-family: "Lato", Arial;
    margin: 0;
    padding: 0;
}
a {
    color: #179faa;
    text-decoration: none;
}

#playback {
    margin: 20px 0 0 30px;
    font-size: 30px;
    letter-spacing: 7px;
}
